body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.navitem{
    font-size: 17px;
}

.navbar-toggler {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}

.navbar-nav .nav-link{
    text-wrap: nowrap;
}


.navbar-nav .nav-link:hover {
    color: red !important; /* Important ensures the color is applied even with other styles */
    transition-duration: 0.8s;
  }

  #navbarSupportedContent .dropdown-menu{
    background-color: rgb(241, 73, 73);
    border-radius: 0;
    border-bottom: 3px solid #000;
}

#navbarSupportedContent .dropdown-menu .dropdown-item{
    color: #fff;
}

#navbarSupportedContent .dropdown-menu .dropdown-item:hover{
    color: black;
    background-color: rgb(241, 73, 73);
    transition: 1s;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.para{
    padding: 50px;
    margin: 50px;
}

@media screen and (max-width: 1000px) {
    .para {
      margin: 0px;
      padding: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .fizdiv img {
      transform: scale(.6);
    }

    .fizz h1{
        transform: scale(.1);
    }
}

@media screen and (max-width: 1000px) {
    .fizmotion {
      width: 5px;
      height: 16px;
    }
}



.hovv:hover{
    text-decoration: underline;
    color: orangered;
}

.cover-pic{
    object-fit: cover;
}

.fizz h1{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 80px; 
    font-weight: 800; 
    font-family: 'Eksell Display TRIAL', sans-serif; 
    text-align: center;
}

.para img{
    width: 32px; 
    height: 32px;
}

.para{
    font-size: 16px;
}

.footer1{
    font-size: 14px; 
    color: #0A0B27; 
    word-spacing: 0.5px; 
    font-weight: 490;
}

.footer2{
    font-size: 14px; 
}

.footer2 p{
    line-height: 20px;
}

.footer3{
    font-size: 14px; 
}

.footer3 img{
    width: 32px; 
    height: 32px;
}